[Desktop Entry]
Encoding=UTF-8
Name=Link to Ask Ubuntu
Type=Link
URL=https://odr.inra.fr/intranet/carto/cartowiki/index.php/Statistiques_descriptives_avec_R
Icon=text-html